* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: transparent !important;
}

html[data-color-scheme='dark'] {
  color-scheme: dark;
  --top-bar: #3c3c3c;
  --activity-bar: #333333;
  --side-bar: #252526;
  --editor: #1e1e1e;
  --editor-content: #ffffff;
  --status-bar: #007acc;
  --link: #ce9178;
}

html[data-color-scheme='light'] {
  color-scheme: light;
  --top-bar: #dddddd;
  --activity-bar: #2c2c2c;
  --side-bar: #f3f3f3;
  --editor: #ffffff;
  --editor-content: #000000;
  --status-bar: #007acc;
  --link: #0000ff;
}

body {
  display: grid;
  grid-template-rows: 28px 1fr 20px;
  width: 100vw;
  height: 100vh;
}

.top-bar {
  background-color: var(--top-bar);
}

main {
  display: grid;
  grid-template-columns: 50px 300px 1fr;
}

.activity-bar {
  background-color: var(--activity-bar);
}

.side-bar {
  background-color: var(--side-bar);
}

.editor {
  padding: 1rem 2rem;
  color: var(--editor-content);
  background-color: var(--editor);
}

.status-bar {
  background-color: var(--status-bar);
}

button {
  padding: 10px 20px;
  color: var(--editor-content);
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 2px;
  cursor: pointer;
}

a {
  color: var(--link);
}
